<form action="/users/reset_password" method="post">
<input type="hidden" name="password_token" value="<%= @token %>">
  New Password: <input name="password" type="password">
  New Password Confirmation: <input name="password_confirmation" type="password_confirmation">
  <input type="submit" value="Update Details">
</form>